// Root path where you plan to host coreos-web.
$cfWebDistPath: './';
$cfWebFontPath: $cfWebDistPath + 'fonts';


// Override fontawesome font paths.
$fa-font-path: $cfWebFontPath;

// Override bootstrap font paths.
$icon-font-path: $cfWebFontPath + '/';

// Cf-web font path.
$font-path: $cfWebFontPath;
// Cf-web image path.
$img-path: $cfWebDistPath + 'img';
