<div class="ed-p-node-info">

  <div class="modal-header">
    <h4 class="modal-title">Service Details</h4>
  </div>

  <div class="modal-body">
    <!--table id="ed-m-property-table" class="table">
      <thead>
        <tr>
          <th>property</th>
          <th>value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="key in objectKeys | orderBy:identityFn">
          <td>{{key}}</td>
          <td>{{service[key]}}</td>
        </tr>
      </tbody>
    </table-->
      <div class="row">
          <div class="col-lg-6">

            <div class="cf-m-pane">
              <div class="cf-m-pane__heading--bordered">
                <h1 class="cf-m-pane__title">FWS</h1>
              </div>
              <div class="cf-m-pane__body-group">
                <div class="cf-m-pane__body-section--bordered">
                  Section one
                </div>
                <div class="cf-m-pane__body-section--bordered">
                  Section two
                </div>
                <div class="cf-m-pane__body-section--bordered">
                  Section three
                </div>
                <div class="cf-m-pane__body-section--bordered">
                  Section four
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-6">
            <div class="cf-m-pane">
              <div class="cf-m-pane__heading--bordered">
                <h1 class="cf-m-pane__title">UAT</h1>
              </div>
              <div class="cf-m-pane__body-group">
                <div class="cf-m-pane__body-section">
                  Section one
                </div>
                <div class="cf-m-pane__body-section">
                  Section two
                </div>
                <div class="cf-m-pane__body-section">
                  Section three
                </div>
                <div class="cf-m-pane__body-section">
                  Section four
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="cf-m-pane">
              <div class="cf-m-pane__heading--bordered">
                <h1 class="cf-m-pane__title">Prod</h1>
              </div>
              <div class="cf-m-pane__body-group">
                <div class="cf-m-pane__body-section">
                  Section one
                </div>
                <div class="cf-m-pane__body-section">
                  Section two
                </div>
                <div class="cf-m-pane__body-section">
                  Section three
                </div>
                <div class="cf-m-pane__body-section">
                  Section four
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>

  <div class="modal-footer">
    <button type="button" ng-click="close()" class="btn btn-primary">Close</button>
  </div>

</div>
