<div class="ed-p-service-info">

  <div class="modal-header" complete-promise="requestPromise">
    <h4 class="modal-title">Service Details</h4>
    <cf-toast></cf-toast>
  </div>

  <div class="modal-body">
      <div class="row">
          <div class="col-lg-12">
            <div class="panel cf-m-panel cf-fx-box-shadow-heavy">
              <div class="panel-body">
                <div class="ed-p-instances__env-container">
                  <h2>FWS</h2>
                </div>

                <h2>Instances</h2>
                <table class="table cf-m-table">
                  <thead>
                    <tr>
                      <th>URL</th>
                      <th>Status</th>
                      <th>&nbsp;</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="instance in instances.fws | orderBy:'url' track by instance.url">
                      <td>
                        <a href="#" ng-bind="instance.url"></a>
                      </td>
                      <td>
                        <span ng-highlight="instance.status">{{instance.status}}</span>
                      </td>
                      <td>
                        <a ng-click="checkHealth(instance)" href="#" class="cf-m-primary-action">
                        <cf-svg class="cf-img-icon cf-img-icon-light" src="/cf.svg/icon-add.svg"></cf-svg>Check</a>
                      </td>
                      <td>
                        <a ng-click="dropOut(instance)" href="#" class="cf-m-primary-action">
                        <cf-svg class="cf-img-icon cf-img-icon-light" src="/cf.svg/icon-add.svg"></cf-svg>Drop</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="panel cf-m-panel cf-fx-box-shadow-heavy">
              <div class="panel-body">
                <div class="ed-p-instances__env-container">
                  <h2>UAT</h2>
                </div>

                <h2>Instances</h2>
                <table class="table cf-m-table">
                  <thead>
                    <tr>
                      <th>URL</th>
                      <th>Status</th>
                      <th>&nbsp;</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="instance in instances.uat | orderBy:'url' track by instance.url">
                      <td>
                        <a href="#" ng-bind="instance.url"></a>
                      </td>
                      <td>
                        <span ng-highlight="instance.status">{{instance.status}}</span>
                      </td>
                      <td>
                        <a ng-click="checkHealth(instance)" href="#" class="cf-m-primary-action">
                        <cf-svg class="cf-img-icon cf-img-icon-light" src="/cf.svg/icon-add.svg"></cf-svg>Check</a>
                      </td>
                      <td>
                        <a ng-click="dropOut(instance)" href="#" class="cf-m-primary-action">
                        <cf-svg class="cf-img-icon cf-img-icon-light" src="/cf.svg/icon-add.svg"></cf-svg>Drop</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="panel cf-m-panel cf-fx-box-shadow-heavy">
              <div class="panel-body">
                <div class="ed-p-instances__env-container">
                  <h2>PROD</h2>
                </div>

                <h2>Instances</h2>
                <table class="table cf-m-table">
                  <thead>
                    <tr>
                      <th>URL</th>
                      <th>Status</th>
                      <th>&nbsp;</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="instance in instances.prod | orderBy:'url' track by instance.url">
                      <td>
                        <a href="#" ng-bind="instance.url"></a>
                      </td>
                      <td>
                        <span ng-highlight="instance.status">{{instance.status}}</span>
                      </td>
                      <td>
                        <a ng-click="checkHealth(instance)" href="#" class="cf-m-primary-action">
                        <cf-svg class="cf-img-icon cf-img-icon-light" src="/cf.svg/icon-add.svg"></cf-svg>Check</a>
                      </td>
                      <td>
                        <a ng-click="dropOut(instance)" href="#" class="cf-m-primary-action">
                        <cf-svg class="cf-img-icon cf-img-icon-light" src="/cf.svg/icon-add.svg"></cf-svg>Drop</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
  </div>

  <div class="modal-footer">
    <button type="button" ng-click="close()" class="btn btn-primary">Close</button>
  </div>

</div>
