<div class="ed-p-node-info">

  <div class="modal-header">
    <h4 class="modal-title">Service Details</h4>
  </div>

  <div class="modal-body">
      <div class="row">
          <div class="col-lg-6">

            <div class="cf-m-pane">
              <div class="cf-m-pane__heading--bordered">
                <h1 class="cf-m-pane__title">FWS</h1>
              </div>
              <div class="cf-m-pane__body-group">
                <div ng-repeat="instance in instances.fws | orderBy:'url' track by instance.url" class="cf-m-pane__body-section--bordered">
                  {{instance.url}}
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-6">
            <div class="cf-m-pane">
              <div class="cf-m-pane__heading--bordered">
                <h1 class="cf-m-pane__title">UAT</h1>
              </div>
              <div class="cf-m-pane__body-group">
                <div ng-repeat="instance in instances.uat | orderBy:'url' track by instance.url" class="cf-m-pane__body-section--bordered">
                  {{instance.url}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="cf-m-pane">
              <div class="cf-m-pane__heading--bordered">
                <h1 class="cf-m-pane__title">Prod</h1>
              </div>
              <div class="cf-m-pane__body-group">
                <div ng-repeat="instance in instances.prod | orderBy:'url' track by instance.url" class="cf-m-pane__body-section--bordered">
                  {{instance.url}}
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>

  <div class="modal-footer">
    <button type="button" ng-click="close()" class="btn btn-primary">Close</button>
  </div>

</div>
