<div class="cf-m-navbar cf-fx-box-shadow navbar" role="navigation">

  <div class="navbar-header">
    <button ng-click="isCollapsed = !isCollapsed" class="navbar-toggle" type="button">
      <span class="glyphicon glyphicon-align-justify"></span>
    </button>
    <a ng-href="{{config.siteBasePath}}" class="navbar-brand">
      <co-svg ng-if="logoSrc" class="cf-m-navbar__logo" src="{{logoSrc}}"></co-svg>
    </a>
  </div>

  <div collapse="isCollapsed" ng-transclude class="collapse navbar-collapse"></div>

</div>
